* {
  background-color: #161616;
  text-decoration: none;
}

:root {
  --main-color: #161616;
  --secondary-color: #03adea;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: var(--main-color);
}

.header-title {
  font-size: 60px;
  font-weight: 700;

}
/** style the mode checkbox **/
label {
  width: 70px;
  height: 30px;
  padding: 5px;
  position: relative;
  border-radius: 30px;
  display: block;
  background-color: rgb(61, 60, 60);

  /* background-color: rgb(135, 131, 131); */
}

label::after {
  content: "";
  width: 36px;
  height: 36px;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  z-index: 1;
  background-color: rgb(158, 154, 154);

  box-shadow: inset 0px 5px 10px rgb(61, 61, 61);
  transition: 0.3s;
}

label img {
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
}

.moon {
  left: 10px;

  fill: #7e7e7e;
  transition: 0.3s;
}

.sun {
  right: 10px;
  fill: #fff;
  transition: 0.3s;
}

#mode {
  display: none;
}

#mode:checked + label {
  background-color: rgb(118, 117, 117);
}

#mode:checked + label::after {
  left: 42px;
  
  background-color: #839D9A;
}

/*-----------------------------------------------*/

.nav-links {
  display: flex;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  font-size: 18px;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
}

.nav-link:hover {
  color: var(--secondary-color);
}

.home-link {
  color: var(--secondary-color);
}

body {
  font-family: "Poppins", sans-serif;
  color: #fff;
  background-color: var(--main-color);
  margin: 0;
  padding: 0;
}

.content {
  align-items: center;
  text-align: center;
}

content-work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content-title{
  font-size: 40px;
  font-weight: 600;
}
.work-grid {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
  padding: 35px 35px;
}
.content-title {
  font-size: 30px;
  color: #03adea;
  font-family: poppins;
  align-items: center;
}
.work-item {
  width: 400px;
  height: 300px;
}

.work-img {
  width: 100%;
  height: 100%;
  border: 2px solid #03afed;
  border-radius: 30px;
}

.work-links {
  display: flex;
  align-items: end;
  gap: 10px;
}

footer {
  padding: 32px 142px;
  background-color: var(--main-color);
}

.social-media {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;

}

.social-text {
  font-size: 18px;
  color: var(--secondary-color);
}

.social-icons {
  display: flex;
  gap: 24px;
}

.social-icon {
  width: 24px;
  height: 24px;
}
@media (min-width: 320px) {
  /*smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}
@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
}
@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}
@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
